[Unit]
Description=Service for remote controle device via Telegram
Wants=begemotik.timer

[Service]
Type=simple
User=orangepi
Group=orangepi
ExecStart=/home/orangepi/.scripts/cntl/.venv/bin/python /home/orangepi/.scripts/cntl/main.py
WorkingDirectory=/home/orangepi/.scripts/cntl/
Restart=always

[Install]
WantedBy=multi-user.target